
<!------ Include the above in your HEAD tag ---------->


    <!-- Modal -->
<!DOCTYPE html>
<html>
<head>
</head>

<body>

  <div class="container">

      <div class="card text-center">
         <div class="card-header ">
                   <h4  class="card-title"> <h1 style="color: black;" ><b><%= @user.first_name %></b>
                <b><%= @user.last_name %></b></h1><%=  %> </h4>
                </div>

      <div class="span3 well">

        <center>


       <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>

        </center>




                        <br>
                        <br>


             <h3 style="color:black;"> Description:</h3> <p> <b><%=@user.description%></b></p>
              <h3 style="color:black;">Email:</h3> <p> <b><%=@user.email%></b></p>

            </div>
         </div>
       </div>
     </p></p></div></div></div></div>
    </body>
</html>
