<br><br><br>
<div class="text-center">
<p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@user.id%></p>
<h3>Avatar actuel</h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>


      <h3>Upload a new Profile Picture</h3>
      <%= form_tag user_avatar_index_path(@user), multipart: true do %>
      <%= file_field_tag :avatar, class:"btn"%><br>
     

     <% if  %>
       <%= submit_tag "mettre à jour", class:"btn btn-primary btn-lg btn-block" %>
     <% end%>

    
    <% end %>


<%else%>

  <h3>Upload</h3>
  <%= form_tag user_avatar_index_path(@user), multipart: true do %>
    <%= file_field_tag :avatar %>
    <%= submit_tag "mettre à jour" %>
  <% end %>

<%end%>
<br>
<br>
<br>
<p class="">First_name: <b><%= @user.first_name %></b></p>

<p>Last_name: <b><%= @user.last_name %></b></p>
<p>Description: <b><%=@user.description%></b></p>
<p>Email: <b><%=@user.email%></b></p>

</div>
