<!DOCTYPE html>
<html>
<head>
</head>

<body>


<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="span3 well">
        <center>
       <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3><p class=""><b><%= @user.first_name %></b></p>

<p><b><%= @user.last_name %></b></p></h3>
         
        </center>
    </div>
    <!-- Modal -->
    
<div class="text-center">



<p>Last_name: <b><%= @user.last_name %></b></p>
<p>Description: <b><%=@user.description%></b></p>
<p>Email: <b><%=@user.email%></b></p>

</div>


  <%# create_table "users", force: :cascade do |t|
    t.string "first_name"
    t.string "last_name"
    t.text "description"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "email", default: "", null: false
    t.string "encrypted_password", default: "", null: false
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.index ["email"], name: "index_users_on_email", unique: true
    t.index ["reset_password_token"], name: "index_users_on_reset_password_token", unique: true
  end %>
