<div class="container">
    <div class="span3 well text-center">
        <h3><p class=""><b><%= @user.first_name %></b></p>

        <p><b><%= @user.last_name %></b></p></h3>

  <div class="container">

      <div class="card text-center">
         <div class="card-header ">
                   <h4  class="card-title"> <h1 style="color: black;" ><b><%= @user.first_name %></b>
                <b><%= @user.last_name %></b></h1><%=  %> </h4>
                </div>

      <div class="span3 well">

          <div class="text-center">
            <p style="color:black;">Avatar actuel<p>


               <%if @user.avatar.attached?%>

                  <%= image_tag @user.avatar, alt: 'avatar' %>

<%if user_signed_in? && current_user.id == @user.id%>
      <h3>Upload a new Profile Picture</h3>
      <%= form_tag user_avatar_index_path(@user), multipart: true do %>
      <%= file_field_tag :avatar, class:"btn"%><br>


     <% if  %>
       <%= submit_tag "mettre à jour", class:"btn btn-primary btn-lg btn-block" %>
     <% end%>
<%end%>

    <% end %>


<%else%>
  <%if user_signed_in? && current_user.id == @user.id%>
  <h3>Upload</h3>
  <%= form_tag user_avatar_index_path(@user), multipart: true do %>
    <%= file_field_tag :avatar %>
    <%= submit_tag "mettre à jour" %>
  <% end %>
<%end%>
<%end%><br>
<br>
<br>
<p class="">First_name: <b><%= @user.first_name %></b></p>


<p>Last_name: <b><%= @user.last_name %></b></p>
<p>Description: <b><%=@user.description%></b></p>
<p>Email: <b><%=@user.email%></b></p>

</div>
