<main role="main">

 <!-- Main jumbotron for a primary marketing message or call to action -->
<% if user_signed_in? %>
<div class="hero-image">
 <div class="hero-text"><p style="font-size:  70px; color : #D3A723">Bienvenue <%= current_user.first_name %> </p>
   <p>Voici les dernieres offres de chatons </p>
  <a class="btn btn-outline-success my-2 my-sm-0" href="/pictures/new"> Poster une offre </a>
</div>
</div>
<%else%>




     <div class="card-deck semi-transparent">
          <% @pictures.each do |p| %>
            <div class="col-4 ">

              <div class="card text-center ">
              <div class="card-header ">
                   <h4  class="card-title "><%= p.name %><span style="color: #D3A723"> _____________</span> <%= p.price %> € </h4>
                </div>
              <div class="card-body">
                    <h4> Etat: <%= p.condition%></h4>

                    <br>
                    <p> Descriptions :<%= p.description %></p>
                  </div>
                    <div>
                    <br>
                  <%= link_to "Voir l'article",controller: "pictures", action:"show", id: p.id %>
                  <div>
                  <%if user_signed_in?%>
                    <%if current_user.id == p.administrator.id %>
                        <%=link_to 'edit' , edit_picture_path(p.id) %>
                    <%end%>
                  <%end%>
                  </div>
                  <br><br>
                  </div>
                
                  </div>
                </div>
                  <%end%>
      <%# <%end%>
      <br>
    </div>

</main>
<br>
