<body>

<main role="main">

 <!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="card-deck semi-transparent">
          <% @pictures.each do |p| %>
            <div class="col-4 ">
 <br>
              <div class="card text-center ">
                <div class="card-header text-center">
                  <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                      <h4 class="card-title text-center"><%= p.name %></h4>
                    </li>
                  </ul>
                </div>
                  <div class="card-body">
                    <h4> Etat: <%= p.condition%></h4>
                    <h5> Prix :<%= p.price %> € </h5>
                    <br>
                    <p> Descriptions :<%= p.description %></p>
                  </div>
                  
                  <%= link_to "Voir l'article", controller: "pictures", action:"show", id: p.id %>

                </div>
              </div>
            <%end%>
   <br>
    </div>
</main>


</body>
