<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @order.name;%>
</p>

<p>
  <strong>Addresse:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Etat de la commande:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Numéro de panier:</strong>
  <%= @order.cart.id %>
</p>


<p>
  <strong>Numéro de panier:</strong>
  <ul>
      <% @order.cart.line_items.each do |item| %>
        <li style="color: black;"> <%= item.picture.name %> x <%= item.quantity %>
          <p>Prix unitaire = <%= number_to_currency(item.total, unit: "€", separator: ",", format: "%n %u") %></p>
        </li>
      <%end%>

      <h6 style="color: black;"> Total = <%= number_to_currency(@order.cart.total, unit: "€", separator: ",", format: "%n %u") %> </h2>

  </ul>
</p>

<%= link_to "Retour vers la page d'accueil", root_path %>
</div>
