<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<div class="container">
<p id="notice"><%= notice %></p>

<div class="d-flex flex-column align-items-center  card m-2">
  <p></p>
  <h3 class=>Photos</h3>
  <%if @picture.chat_pic.attached?%>
    <%= image_tag @picture.chat_pic, alt: 'pic' %>
  <%else%>
    <p>=== Il n'y a pas encore d'images lié à ce produit ===</p>
  <%end%>
  <p></p>
  <% if user_signed_in? && current_user.id == @picture.administrator_id %>
  <%= form_tag picture_chat_pic_index_path(@picture), multipart: true do %>
    <%= file_field_tag :pic %>
    <%= submit_tag "uploader une photo" %>
    <%end%>
  <% end %>
  <p></p>
</div>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @picture.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @picture.condition %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @picture.administrator_id %>
</p>


<center><i class="fas fa-shopping-cart"></i><%= button_to 'Ajoutez dans le panier', line_items_path(picture_id: @picture), class:"btn btn-outline-success my-2 my-sm-0" %></center>

<% if user_signed_in? %>
<%= button_to 'Ajoutez dans le panier', line_items_path(picture_id: @picture), data: {confirm: "L'article a été ajouté"}, remote: true %>
<%else%>
<h3 class="text-center">Connect toi pour acheter</h3>
 <% end %>
<%if user_signed_in? && current_user.id == @picture.administrator_id%>
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Supprimer', picture_path(@picture), method: :delete %> |
<%end%>
<br>
<%= link_to 'Back', root_path %>
<br>
<br>
