<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<div class="container">
<p id="notice"><%= notice %></p>

<div class="d-flex flex-column align-items-center  card m-2">
  <p></p>
  <h3 class=>Photos</h3>
  <%if @picture.chat_pic.attached?%>
    <%= image_tag @picture.chat_pic, alt: 'pic' %>
  <%else%>
    <p>=== Il n'y a pas encore d'images lié à ce produit ===</p>
  <%end%>
  <p></p>
  <%= form_tag picture_chat_pic_index_path(@picture), multipart: true do %>
    <%= file_field_tag :pic %>
    <%= submit_tag "uploader une photo" %>
  <% end %>
  <p></p>
</div>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @picture.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @picture.condition %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @picture.administrator_id %>
</p>





<% if user_signed_in? %>
<center><i style="font-size: 30px; color: #D3A723" class="fas fa-shopping-cart"></i>
<%= button_to 'Ajoutez dans le panier', line_items_path(picture_id: @picture), class:"btn btn-outline-success my-2 my-sm-0", data: {confirm: "L'article a été ajouté"}, remote: true %></center>
  <% end %>

  <p id="alert"> <%= alert %> </p>
    <div id="cart">
    <% if @cart && @cart.line_items.any? %>
    <%= render @cart %>
    <% else %>
    
    <div class="card text-center">
    <div class="card-title">
      <span style="font-size: 40px; color: #D3A723;">
  <i class="fas fa-shopping-cart"></i>
  <a class="btn-outline-success" aria-pressed="true" href="/" style="font-size: 30px">Mon panier</a>
</span>

</div>
    <p> Votre panier est vide </p>
  </div>

    <% end %>
    </div>
  </div>
 <br>
<div class="d-flex flex-column align-items-center  ">
<p><%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Supprimer', picture_path(@picture), method: :delete %> |
<%= link_to 'Back', root_path %>
</p>
<br>
<br>
</div>

