<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @line_item.picture %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @line_item.quantity %>
</p>


<%= link_to 'Back', line_items_path %>
