




<% if user_signed_in? %>


<div class="bs-component">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top semi transparent">
                <a class="navbar-brand" href="/"> <i style ="color: #FFBBC5;font-size: 35px;" class="fas fa-cat"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>


             <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item active">
                      <div class="dropdown"> 
                           <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon profil</a> 
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <div class="card text-center">
                                       <div class="card-header">
                                          <div class="card-title">

                                               <h6 class="dropdown-item" >Bonjour, <%= current_user.first_name %> !</h6>
                                          </div>
                                         </div>
                                      
                                         <ul>
                                          <br>
                                          <li>
                                             <a > <%= link_to "Voir le profil",user_path(current_user),class:"card-link"%></a>
                                           </li>
                                           <br>
                                         <li>
                                             <a class="card-link" href="/users/edit"> Modifier mes informations </a>
                                          </li>
                                          <br>
                          
                                        
                                        </ul>
                                            
                                            <center>
                                             <a class="btn" role="button" aria-pressed="true"> <%= link_to "Déconnexion", destroy_user_session_path, method: :delete,class: "btn btn-outline-success" %></a>
                                           </center>
                                          
                                         <br>





                                  </div>
                              </div>

                     
                      </li>
                      
                
                      </ul>
                      <div class="dropdown">
                           <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart" style="font-size: 25px; color: #D3A723;"></i></a> 
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            
                              <p id="alert"> <%= alert %> </p>
                              <div id="cart">
                                 <% if @cart && @cart.line_items.any? %>
                                      <p id="notice"><%= notice %></p>

                                     <div class="card text-center">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <span style="font-size: 40px; color: #D3A723;">
                                                   <i class ="fas fa-shopping-cart" style="font-size: 30px; color: #D3A723;"> </i>
                                                  <h6 class="dropdown-item">Mon panier</h6>

                                                </span>
                                            </div>
                                        </div>

                                                <div class="card-body">
                                                  <ul>
                                                        <% @cart.line_items.each do |item| %>
                                                       <li style="color: black;"> <%= item.picture.name %> x <%= item.quantity %>
                                                       
                                                         <p>Prix unitaire = <%= number_to_currency(item.total, unit: "€", separator: ",", format: "%n %u") %></p>
                                                            <%= link_to 'x', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-danger" %>
                                                            <br>
                                                       </li>
                                                       <br>
                                                                           <%end%>
                                                          <li> <h6 style="color: black;"> Total = <%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %> </h6></li>
                                                  </ul>
                                                        <%= button_to "Acheter", new_order_path, method: :get, class: "btn btn-outline-success" %>

                                                  </div>
                                    

                                                                <% else %>
    
                                        <div class="card text-center">
                                      
                                             <div class="card-header">
                                                  <div class="card-title">
                                           
                                    
                                                      <i class ="fas fa-shopping-cart" style="font-size: 35px; color: #D3A723;"> </i>
                                                      <h6 class="dropdown-item">Mon panier</h6>

                                                  </div>
                                              </div>
                                          
                                             <p> Votre panier est vide </p>
                                        </div>

                                                                 <% end %>
                                 </div>
                             </div>
                      </div>
                    </div>
                  
                
            
                     
                <form class="form-inline my-2 my-lg-0">
              <a class="btn btn-outline-success my-2 my-sm-0" href="/pictures/new"> Vendre une photo</a>
              </form>
                  

            </div>

                             

      </div>
    </div>
    </nav>
  </div>




<% else %>



<div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark semi-transparent fixed-top">
                <a class="navbar-brand" href="/"><i style ="color: #FFBBC5;font-size: 35px;" class="fas fa-cat"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">

                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/sign_up"> S'inscrire</a>
                    </li>
                    
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
              <a class="btn btn-outline-success my-2 my-sm-0" href="/users/sign_in"> Connexion</a>
              </form>
                </div>
              </nav>
            </div>







<%end%>
