




<% if user_signed_in? %>


    <nav class="navbar navbar-expand-lg fixed-top  ">








          <a class="navbar-brand" href="/"> <i style ="color: #FFBBC5;font-size: 35px;" class="fas fa-cat"></i></a>
          <div class="nav item">
                <div class="dropdown">

                           <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon profil</a>

                       <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <div class="card ">
                                   <div class="card-header">
                                      <div class="card-title">

                                           <h6 class="dropdown-item" >Bonjour, <%= current_user.first_name %> !</h6>
                                      </div>
                                    </div>


                                      <ul>
                                        <li>
                                        <a > <%= link_to "Voir le profil",user_path(current_user),class:"card-link"%></a></li>
                                          <li><a class="card-link" href="/users/edit"> Modifier mes informations </a></li>


                                          </ul>

                                            <center>
                                             <a class="btn" role="button" aria-pressed="true"> <%= link_to "Déconnexion", destroy_user_session_path, method: :delete,class: "btn btn-outline-success" %></a>
                                           </center>



                                            <br>
                                       </div>
                              </div>
                      </div>
                </div>
          </div>
            <div class="dropdown">
                           <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart" style="font-size: 25px; color: #D3A723;"></i></a>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <p id="notice"><%= notice %></p>
                   <ul>
                            <p id="alert"> <%= alert %> </p>
                          <div id="cart">
                            <% if @cart && @cart.line_items.any? %>
                                      <p id="notice"><%= notice %></p>

                                      <%# <%= render @cart %> %>

                                           <% else %>

                                    <div class="card text-center">

                                   <div class="card-header">
                                      <div class="card-title">


                                             <i class ="fas fa-shopping-cart" style="font-size: 35px; color: #D3A723;"> </i>
                                               <h6 class="dropdown-item">Mon panier</h6>

                                           </div>
                                        </div>
                                          <p> Votre panier est vide </p>
                                   </div>
                                            <% end %>
                          </div>

                  </div>
             </div>
           <a class="btn btn-outline-success" href="/pictures/new"> Vendre une photo </a>




  </nav>


<% else %>


  <nav class="navbar navbar-expand-lg fixed-top ">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
      </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" style="margin-left: 35px" href="/users/sign_up"> S'inscrire</a>
                </li>
                <li><a class="navbar navbar-brand" href="/"><i style ="color: #FFBBC5;font-size: 35px;" class="fas fa-cat"></i></a></li>
            </ul>
              <form class="form-inline my-2 my-lg-0">
              <a class="btn btn-outline-success my-2 my-sm-0" href="/users/sign_in"> Connexion</a>
              </form>
          </div>
   </nav>



<%end%>
